* {
    margin: 0px;
}
body {
    background-color: #0A101A;
    color: #c18d21;
}
.welcoming {
    text-align: center;
    height: 100%;
}
.welcoming img{
    height: 40%;
    margin-top: 15% ;
    clear: both;
}
.Quote {
    float: right;
    margin-top: 20%;
    width: 30%;
    margin-right: 20%;
    font-size: 450%;
    font-family: trajan, Bickham sript pro, Garamond, helvetica, sans-serif;
}
.Projek {
    height: 100%;
    background-color: #0c1f34;
}
.Projek th {
    height: 20%;
    margin-top: 10%;
}
.Skill {
    height: 100%;
    background-color: #102945;
}
.Kontak {
    height: 100%;
    background-color: #b3b3b3;
}
footer {
    height: 10%;
    background-color: #cfced0;
}